body { /* sets the following code block to the <body> element */
    font-family: monospace; /* sets the font family */
    background-color: #313131; /* sets the bg colour */
    color: #db5b05; /* the colour rgb code for the font */
    padding: 20px; /* sets the padding to 20 pixels, which generates 20 pixels of space around an element */
    
}

/* set the colours of links*/
a:link{
    color:#db5b05;
}
a:visited{
    color: #d35907;
}
a:hover{
    color: darkorange;
}
a:active{
    color: yellow;
}

header {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    font-family: monospace;
    background-color: rgb(102, 102, 102);
    color: rgb(102, 102, 102);
}

nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 0;
    border: #52575a;
    box-shadow: 2px 2px 6px 1px #52575a;
    border-radius: 1px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    
}
img{
border-radius: 50%;
}

nav a{
    color: #313131;

    

}

#about {
    text-align: center;
    
}

#about-text {
    text-align: center;
    text-shadow: 2px 2px 2px #313131;
}


#latest-proj {
    margin: auto;
    padding: 5px;
    text-align: center;
    background-color: rgb(82, 81, 81);
    max-width: 80%;
    position: relative;
    border: #52575a;
    box-shadow: 2px 2px 6px 1px #38393a;
    border-radius: 20px;

}

#main {
    margin: auto;
    padding: 5px 5px 25px 5px;
    text-align: center;
    background-color: rgb(102, 102, 102);
    max-width: 600px;
    position: relative;
    top: 20px;
    border: #52575a;
    box-shadow: 2px 2px 6px 1px #52575a;
    border-radius: 20px;
    text-shadow: 0.5px 1px 1px black;

}
button{
    background-color: rgb(82, 81, 81);
    border-radius: 5px;
    border: 1px solid #db5b05;
    padding: 5px;
}

select{
    appearance: none;
    background-color: rgb(82, 81, 81);
    padding: 5px;
    border: 1px solid #db5b05;
    border-radius: 5px;

}