body { /* sets the following code block to the <body> element */
    font-family: monospace; /* sets the font family */
    background-color: #313131; /* sets the bg colour */
    color: #db5b05; /* the colour rgb code for the font */
    padding: 20px; /* sets the padding to 20 pixels, which generates 20 pixels of space around an element */
}

/* set the colours of links*/
a:link{
    color:#db5b05;
}
a:visited{
    color: #d35907;
}
a:hover{
    color: darkorange;
}
a:active{
    color: yellow;
}

header {
    font-family: monospace;
    background-color: rgb(102, 102, 102);
    color: rgb(102, 102, 102);
}

nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 0;
    border: #52575a;
    box-shadow: 2px 2px 6px 1px #52575a;

}

nav a{
    color: #313131;
    

}

#home {
    text-align: center;
    

}

#about {
    text-align: center;
}

.container {
    width: 350px;
    height: 500px;
    background-color: #52575a;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    border-radius: 20px;
    text-align: center;
}